/* Tasks page */

.top-task {
  height: 100%;
  width: 45px;
  background-color: var(--green4);
  background-repeat: no-repeat;
  background-position: center;
}

.top-task:hover {
  background-color: var(--green6);
}

.top-task[active] {
  border-bottom: solid 2px white;
}

.task-add {
  float: left;
  margin: 0 10px 0 20px;
  background-image: url('./plus.svg');
  background-size: 20px;
}

.task-history {
  float: left;
  background-image: url('./task-history.svg');
  background-size: 20px;
}



.tasks-wrapper {
  max-width: 600px;
  min-height: 100px;
  margin: 10px auto;
  box-sizing: border-box;
  border: solid 1px var(--gray4);
  box-shadow: var(--shadow2);
  background-color: white;
}

.tasks-toolbar {
  width: 100%;
  height: 30px;
  background-color: var(--green3);
  color: white;
  line-height: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 1.1em;
}

.tasks-history {
  display: none;
}

.tasks-history[active] {
  display: block;
}

.task-input {
  display: block;
  box-sizing: border-box;
  line-height: 20px;
  font-size: 1em;
  padding: 5px;
  max-width: 500px;
  width: 100%;
  height: 80px;
  margin: 10px auto 15px auto;
}

.task-submit {
  height: 30px;
  width: 60px;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  background-color: var(--green4);
  color: white;
}

.task-submit:hover {
  background-color: var(--green6);
}

.task-line {
  width: calc(100% - 10px);
  height: auto;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: var(--gray1);
}

.task-content {
  height: 100%;
  width: calc(100% - 40px);
  box-sizing: border-box;
  display: inline-block;
  overflow-wrap: break-word;
  overflow: hidden;
}

.task-checkbox {
  display: inline-block;
}
